@mixin respond-to($breakpoint) {
    @if $breakpoint == small {
        @media (max-width: 600px) {
            @content;
        }
    } @else if $breakpoint == medium {
        @media (min-width: 601px) and (max-width: 900px) {
            @content;
        }
    } @else if $breakpoint == large {
        @media (min-width: 901px) {
            @content;
        }
    }
}

.calculator { 
    display: grid;
    margin: auto;
    justify-content: center;
    background-color: hsl(0, 0, 15%);
    padding: 3rem;
    width: 50%;
}

.calculator__display { 
    margin: 1rem 0;
    height: 8rem;
    max-width: 100%;
    display: flex;
    align-items: end;
    justify-content: end;
    background-color: hsl(0, 0, 20%);
    overflow: hidden;
    
    &--current { 
        margin-right: 1rem;
        font-size: 2rem;
        color: white;
    }
}

.button { 
    padding: 1rem;
    min-width: 50px;
    min-height: 50px;
    border-radius: 50%;
    border: none;
    outline: none;
    color: white;
    background-color: hsl(0, 0, 30%);
    text-align: center;

    font-weight: bolder;
    &:hover { 
        background-color: hsl(0, 0, 40%);
    }
}

.operator { 
    background-color: #ff9f04;
    &:hover { 
        background-color: #b77100;
    }
}

.equal { 
    background-color: rgb(109, 109, 255);
    &:hover { 
        background-color: rgb(66, 66, 147)
    }
}


.calculator__keys { 
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 1fr);
    gap: 1rem;
}

@include respond-to(small) { 
    .calculator {
        width: 25%;
    }
    .button { 
        font-size: 1.5rem;
    }
}
@include respond-to(medium) { 

    .button { 
        font-size: 2rem;
    }
}
@include respond-to(large) { 
    .calculator {
        width: 50%;
    }
    .button { 
        font-size: 2.5rem;
    }
}